
h1
{
	color:blueviolet; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size:cover;
}

#myCanvas{
width:800px;
height:600px;
border-width:10px;
border-style:ridge;
background-color:white;
}
